h2{
    background-color: #7e32c5;
    text-align: center;
    text-decoration: solid;
    color: white;
    margin-top: 50vh;
    font-size: large;
    
}
form{ background-color: white;
width: 100vh;
margin: 50vh;
padding-left: 20px;
}


