.container{
    border-radius: 25px;
    width: 300px;
    height: 300px;
    background-color: rgb(87, 78, 78);
    padding: 22px;
}
.container:hover{
    border: 1px, solid, white;
}
.container1 img{
    width: 100%;
}

.video-text{
display: flex;
flex-direction: row;
margin-top: 2px;

}

.profile-image img{
    width:30px;
    border-radius: 15px;
}

h1{
    font-size: 12px;
}

h1, p{
    margin: 0%;
    line-height: 15px;
}
p{
    font-size: small;
}
.channel-text{
    color: white;
    padding-left: 8px;
    
}

.menu-button{
    color: white;
    font-size: 20px;
}
.watch-button{
    
    font-size: 15px;
    border-radius: 15px;
    border: none;
    
}
.visit-button{
    font-size: 15px;
    margin-left: 5px;
    border-radius: 15px;
    border: none;
}
.button-container{
    width: 100%;
    margin: 8px;
    display: flex;
    justify-content: center;
    
}
.watch-button:hover{
background-color: aqua;
}

.visit-button{
    background-color: aqua;
}
.full-body:hover{
border: 12px, white;
}


body{
    background-color: brown;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

