.container{
    background-color: rgb(115, 115, 124); width: 350px;
    height: 350px;
border-radius: 15px;
padding: 15px;
grid-template-columns: 1fr 1fr 1fr;
}
.container:hover{
    
border: 1px solid  white
}
.image-container,.image-container img{
    width: 100%;
    height: 200px;
}

.channel-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
h1{
    font-size: 15px;
    color: white;
}
.profile-pictures img{
    width: 50px;
    border-radius: 20px;

}
p{
    color: rgb(223, 235, 245);
}
h1,p{
    margin: 0%;

}
.channel-text{
    margin: 0px 10px
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 20px;
}
button{
    font-size: 20px;
padding:5px 47px;
border-radius: 20px;
border: none;
}
.watch-button{
    margin-right: 10px;
    background-color: rgb(20, 20, 24);
    border: 0.5px solid rgb(197, 176, 176);
}
.watch-button:hover{
    background-color: rgb(125, 122, 127);
}

.signup-button{
    background-color: rgb(147, 147, 214);

}
.signup-button:hover {
    background-color:royalblue ;
}
body{
    background-color: rgb(115, 115, 124); width: 350px;
    
}
.navbar{
    background-color: blue;
    grid-area: navbar;
}
.sidebar{
    background-color: brown;
    grid-area: sidebar;
}
.body-container{
    display: grid;
    grid-template-areas: "sidebar navbar"
                          "sidebar  content";
    grid-template-columns: 100px   1fr;
    grid-template-rows: 200px  1fr;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

    }