body {
border: 2px black; 
}

.first-div{
    width: auto;
    height: 50px;
    background-color:  rgb(236, 233, 233);
}
.first-div-text {
   display: flex;
   flex-direction: row;
}
.heading {
    margin-top: 7px;
    margin-right: 400px;
    margin-left: 80px;
}
.paragraphs {
    display: flex;
    flex-direction: row;
}
p {
    margin-left: 15px;
    margin-top: 17px;
}
.contact {
    margin-top:16.5px;
    margin-left: 100px;
}
 

.second-div {
    background-image: url(PLACEHOLDER.jpg);
    background-size: cover;
    width: auto;
    height: 300px;
}
.second-div-text {
    text-align: center;
    align-content: center;
    color: white;
}
.second-div-text h1 {
    margin-top: px;
}

.third-div {
background-color:  rgb(236, 233, 233);
width: auto;
height: 320px;
margin-bottom: 0px;
}
.grid-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}
.icons-and-infos {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    width: 60px;
    border-radius: 30px;
    margin-top: 30px;
}
.icons-and-infos p {
    font-size: 15px;
    margin-top: 0px;
}
 .icons-and-infos h4 {
    margin-top: 20px;
    color: rgb(46, 122, 221);
}



.forth-div {
    width: auto;
    height: 670px;
    background-color: rgb(184, 187, 187);
}
.grid-container-sec {
   display: flex;
   justify-content: space-between;
   margin: 0px 100px;
}
.texts {
    width: 400px;
    margin-top: 40px;
}
.laptop {
    width: 300px;
    height: 300px;
    margin: 40px 0px 0px;
}
.laptop img {
    width: auto;
    height: 300px;
    grid-area: picture;
    margin-right: 350px;
    justify-content: center;
    align-items: center;
}
button {
    padding: 5px 10px;
}



.border {
    margin: 20px 100px;
}
.display-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.text-sec {
    width: 350px;
    height: 242px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.text-sec h2 {
margin-top: 0px;
}
.text-sec h5 {
    margin-bottom: 3px;
}
.text-sec img {
    margin: -15px 30px;
    justify-content: center;
}
#only {
    background-color: rgb(5, 5, 5);
}
#only h5 {
    color: white;
}
#only h2 {
    color: white;
}
#only img {
    height: 150px;
}


.last-div {
    width: auto;
    height: 340px;
    background-color: rgb(236, 233, 233);
}
.last-info {
    width: 350px;
    height: 265px;
}
.last-info img {
    width: 100%;
    height: 120px;
    margin-top: 0px;
}
.last-display {
    display: flex;
    justify-content: space-between;
    padding: 0px 60px 0px 0px;
    margin-bottom: 0px;
}
.last-display h5 {
    font-style: oblique;
    margin-top: 30px;
}
.last-display-grid {
    display: flex;
    justify-content: space-around;
    margin: 0px 80px;
}
.last-display h4 {
    margin-top: 30px;
}
.coloured {
    color: blue;
    margin-bottom: -10px;
    margin-top: 20px;
}
.white {
    background-color: rgb(248, 250, 250);
    height: auto;
}
